/* Estilos para el formulario de búsqueda */
@import url('https://fonts.googleapis.com/css?family=Poppins');

.search-form {
    font-family: "Poppins";
    margin-top: 3px;
    float: left; /* Espacio entre el icono de "Home" y el formulario de búsqueda */
}

.form-control {
    width: 200px;
    height: 200px; /* Ancho más pequeño para el campo de entrada */
}

.search-form button {
    padding: 3px 10px; /* Ajusta el padding del botón */
}

/* Agrega estas reglas para alinear el botón de acceso a la derecha */

/* Estilos adicionales según sea necesario */



.navbar-brand {
    font-family: "Poppins";
}





.dropdown-content {
    display: none;
    /* Otros estilos como posición, fondo, bordes, etc. según sea necesario */
}

/* Estilo para mostrar el contenedor cuando tiene la clase 'show' */
.dropdown-content.show {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #8b6161;
    transition: background-color 0.3s;
}

.dropdown-item:last-child {
    border-bottom: none;
}

/* Estilo cuando se hace clic en una notificación */
.dropdown-item.clicked {
    background-color: #637d97; /* Cambia el color de fondo cuando se hace clic */
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid white;
    border-top-color: transparent;
    animation: spin 1.2s linear infinite;
  
    /* Agrega estas propiedades para centrar el spinner */
    position: fixed;
    top: 50%;
    left: 50%;
    
  }
  
  
  @keyframes spin{
    to{
      transform: rotate(360deg);
    }
  }
  
