@font-face {
  font-family: socake;
  src: url(Socake.ttf);
}

@font-face {
  font-family: typo;
  src: url(Typo.otf);
}

.navbar {
  position: relative;
  background-color: #333; /* Color de fondo del navbar */
  color: white;
  padding: 5px; /* Espaciado interno del navbar */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Asegura que el navbar esté en la parte superior */
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url('/static/imagen2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  nav {
    color: #ff0000;
  }
}

h1 {
  font-family: typo;
}

.imagen1, .imagen2 {
  height: 100px;
}

/* Nueva clase para animar el crecimiento del texto */
.animate-text {
  opacity: 0;
  transform: scale(0.5);
  animation: growText 1s forwards ease-in-out;
}

@keyframes growText {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Estilos adicionales para el contenido centrado */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); /* Resta la altura del navbar */
}

.welcome-container {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.access-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  border: none; /* Agregar esta línea para eliminar el borde */
}
