
@font-face {
  font-family: socake;
  src: url(Socake.ttf);
}
@font-face {
  font-family: typo;
  src: url(Typo.otf);
}


body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url('/static/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.navbar {
  position: relative;

}

#vista-previa img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}

.form-group .btn {
  margin-top: 10px;
}

h2 {
  margin-top: 20px;
}

.stars {
  display: inline-block;
  font-size: 24px;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  float: right;
  cursor: pointer;
  color: #ccc;
}

.stars label:before {
  content: "\2606";
}

.stars input[type="radio"]:checked ~ label:before {
  content: "\2605";
  color: #FFD700;
}


nav {
  color: #ff0000;
}
h1{
  font-family: typo;
}

p {
  color: #ffffff;
}

