{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-cierre.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">   


  
    <h2>¿Deseas cerrar sesión?</h2>
    <form action="/cierre" method="POST">
        <input type="submit" class="fadeIn fourth" name="confirm" value="yes"></input>
        <input type="submit" class="fadeIn fourth" name="confirm" value="no"></input>
    </form>
    {% if error %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% elif correo %}
    
    {% endif %}

    
    <div id="formFooter">
      <a class="underlineHover" href="/restricted">Volver</a>
    </div>

  </div>
</div>



</body>

</html>