{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-detalle_duda.css') }}">
{% block content %}
    {% if duda %}
        <div class="duda-card">
            <div class="card-img-zoom">
                <a href="data:image/jpeg;base64,{{ duda.imagen }}" data-lightbox="detalle-duda" data-title="{{ duda.titulo }}">
                    <img src="data:image/jpeg;base64,{{ duda.imagen }}" alt="Imagen de la duda" class="card-img-top">
                </a>
            </div>
            <div class="duda-card-content">
                <h3 class="card-title">{{ duda.titulo }}</h3>
                <h5 class="card-text">{{ duda.texto }}</h5>
                <div class="additional-info">
                    <br>
                    <p class="info" style="color: gray;"><span class="label">Carrera:</span> {{ duda.carrera }}</p>
                    <p class="info" style="color: gray;"><span class="label">Curso:</span> {{ duda.curso }}</p>
                    <p class="info" style="color: gray;"><span class="label">Asignatura:</span> {{ duda.asignatura }}</p>
                </div>
                <div class="stars">
                    <p class="dificultad"><span class="label">Dificultad:</span></p>
                    {% for i in range(5) %}
                        {% if i < duda.dificultad %}
                            <label class="star-filled" for="star{{ i }}" title="{{ i + 1 }} estrellas"></label>
                        {% else %}
                            <label class="star-empty" for="star{{ i }}" title="{{ i + 1 }} estrellas"></label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <!-- Si la duda no se encontró en la base de datos, muestra un mensaje de error -->
        <h2>Error</h2>
        <p>{{ mensaje }}</p>
    {% endif %}
{% endblock %}
