{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-detalle_duda.css') }}">
{% block content %}
    {% if duda %}
        <div class="duda-card">
            <img src="data:image/jpeg;base64,{{ duda.imagen }}" alt="Imagen de la duda" class="card-img-top">
            <div class="duda-card-content">
                <h5 class="card-title">{{ duda.titulo }}</h5>
                <p class="card-text">{{ duda.texto}}</p>
            </div>
        </div>
    {% else %}
        <!-- Si la duda no se encontró en la base de datos, muestra un mensaje de error -->
        <h2>Error</h2>
        <p>{{ mensaje }}</p>
    {% endif %}
{% endblock %}
