{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-login.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Iniciar Sesión </h2>
    <a class="inactive underlineHover" href="/registro">REGISTRARSE</a>




    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="correo" placeholder="correo CEU">
      <input type="text" id="contraseña" class="fadeIn third" name="contrasena" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>
   
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Contraseña olvidada?</a>
    </div>

  </div>
</div>

</body>

</html>