{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-registro.css') }}">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <a class="inactive" href="/login"> INICIAR SESION</h2>
      <a  class="active underlineHover"  href="/registro" >REGISTRARSE</a>

      
        <a></a>
  
      <!-- Login Form -->
      <form action="/registro" method="post">
        <input type="text" id="correo" class="fadeIn second" name="correo" placeholder="correo CEU">
        <input type="text" id="contraseña" class="fadeIn third" name="contraseña" placeholder="contraseña">
        <input type="text" id="contraseña" class="fadeIn fourth" name="nia" placeholder="NIA Alumn@">
        <input type="submit" class="fadeIn fifth" value="Entrar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Contraseña olvidada?</a>
      </div>

    </div>
  </div>

</body>

</html>
