{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-login.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Restablecer contraseña</h1>
    <form method="POST" action="{{ url_for('restablecer_contrasena') }}">
      <input type="text" name="nueva_contrasena" placeholder="Nueva Contraseña" required><br>
      <input type="text" name="confirmar_contrasena" placeholder="Confirmar Contraseña" required><br>
      <input type="hidden" name="token" value="{{ token }}">
      <input type="submit" value="Restablecer Contraseña">
  </form>

    
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/contrasena_olvidada">Contraseña olvidada?</a>
    </div>

  </div>
</div>



</body>

</html>