{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-login.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Restablecer contraseña</h1>
    <form action="/restablecer-contrasena" method="POST">
        <label for="nueva_contrasena">Nueva contraseña:</label>
        <input type="password" id="nueva_contrasena" name="nueva_contrasena" required><br>

        <label for="confirmar_contrasena">Confirmar contraseña:</label>
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required><br>

        <button type="submit">Restablecer contraseña</button>
    </form>

    
    {% if error %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% elif correo %}
    <p class="alert alert-success" role="alert">Tu correo electrónico {{ correo }} ha sido verificado exitosamente.</p>
    {% endif %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/contrasena_olvidada">Contraseña olvidada?</a>
    </div>

  </div>
</div>



</body>

</html>