@font-face {
  font-family: socake;
  src: url(Socake.ttf);
}

@font-face {
  font-family: typo;
  src: url(Typo.otf);
}


body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url('/static/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
}

.duda-card {
  width: 200px;
  margin-bottom: 20px;
}

.fixed-size-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


.duda-container img {
    width:400px;
    height: 400px;
    object-fit: contain; /* Ajustar la propiedad object-fit a "contain" */
}

.duda-card-body {
    padding: 10px;
}

.duda-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
}

.duda-link {
    color: inherit;
    text-decoration: none;
}
