/* Estilos para el formulario de búsqueda */
@import url('https://fonts.googleapis.com/css?family=Poppins');



.search-form {
    font-family: "Poppins", sans-serif;
    margin-top: 3px;
    float: left;
    /* Espacio entre el icono de "Home" y el formulario de búsqueda */
}

.form-control {
    width: 200px;
    height: 200px; /* Ancho más pequeño para el campo de entrada */
}

.search-form button {
    padding: 3px 10px; /* Ajusta el padding del botón */
}

.logo {
    width: 20px; /* Ancho de la imagen */
    height: 50px; /* Altura automática para mantener la proporción */
    margin-right: 300px; /* Espacio a la derecha de la imagen */
}

.navbar-brand{
    font-family: "Poppins", sans-serif;
}

.navbar-logo-ceu{
    width: 80px;
    height: 40px;
    margin-left: 300px;
}

.navbar-logo-ceu2{
    width: 80px;
    height: 40px;
    margin-left: 10px;
    margin-right: 300px;
}



.dropdown-content {
    display: none;
    /* Otros estilos como posición, fondo, bordes, etc. según sea necesario */
}

/* Estilo para mostrar el contenedor cuando tiene la clase 'show' */
.dropdown-content.show {
    display: block;
}
