/* Ajustar el tamaño de la imagen */
.card-img-top {
    width: 600px;
    height: 500px;
    margin-top: 30px;
    margin-left: 30px;
    object-fit: cover;
    border-radius: 10px;
}

/* Hacer que la imagen se ajuste correctamente */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Alinear el contenido a la derecha */
.duda-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Estilo para el contenedor del título y el texto */
.duda-card-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Estilo para el título */
.card-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo para la descripción */
.card-text {
    font-size: 20px;
}

/* Estilos para las estrellas de dificultad */
.stars {
    font-size: 24px;
    margin-top: 10px;
}

/* Estrella vacía */
.stars label.star-empty:before {
    content: "\2606";
    color: #ccc;
}

/* Estrella llena */
.stars label.star-filled:before {
    content: "\2605";
    color: #FFD700;
}
