body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url('/static/imagen2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }



/* Ajustar el tamaño de la imagen */
.card-img-top {
    width: 600px;
    height: 500px;
    margin-top: 30px;
    margin-left: 30px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid white;
}

/* Hacer que la imagen se ajuste correctamente */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Alinear el contenido a la derecha */
.duda-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Estilo para el contenedor del título y el texto */
.duda-card-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Estilo para el título */
.card-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo para la descripción */
.card-text {
    font-size: 20px;
}

/* Estilos para las estrellas de dificultad */
.stars {
    font-size: 24px;
    margin-top: 10px;
}

/* Estrella vacía */
.stars label.star-empty:before {
    content: "\2606";
    color: #ccc;
}

/* Estrella llena */
.stars label.star-filled:before {
    content: "\2605";
    color: #FFD700;
}

.comentarios-container {
    margin-left: 150px;
    margin-right: 150px; /* Ajusta el valor del margen según tus preferencias */
    
}

.titulo-comentario {
    margin-left: 400px; /* Ajusta el valor del margen según tus preferencias */
}

.titulo-comentario2 {
    margin-left: 250px; /* Ajusta el valor del margen según tus preferencias */
}


.comentarios-container ul {
    list-style: none;
    padding-left: 0;
}

.comentarios-container li {
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    
}

.comentarios-container p {
    font-size: 18px; /* Ajusta el tamaño de letra según tus preferencias */
}


.comentario-img-thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer; /* Cambiar el cursor a una mano cuando se pueda hacer clic *//* Borde transparente */
    transition: all 0.3s ease-in-out; /* Transición suave para el efecto de cambio de tamaño */
}



/* Estilos para las imágenes en el modal */
.comentario-img-modal {
    max-width: 1000px; /* Ajusta el tamaño máximo según tus preferencias */
    max-height: 800px; /* Ajusta el tamaño máximo según tus preferencias */
    height: auto;
    border: none; /* Eliminar el borde blanco */
    border-radius: 5px;
    display: block;
    margin: 0 ;
    float: left; /* Centrar horizontalmente */
}

/* Estilos para el modal */
.modal-content {
    border: none; /* Eliminar el borde del modal */
    border-radius: 0; /* Eliminar el radio de las esquinas del modal */
}

/* Estilos para el cuerpo del modal */
.modal-body {
    padding: 0; /* Eliminar el relleno en el cuerpo del modal */
}


.util-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Ajusta este valor según tu diseño */
}

.util-buttons form {
    margin-left: 10px; /* Espacio entre los botones */
}

.votos-recuentos {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.like-icon,
.dislike-icon {
    margin-right: 5px;
}

.comentario-content {
    background-color: rgba(255, 255, 255, 0.9); /* Cambia el color de fondo del comentario */
    padding: 10px; /* Agrega relleno interno para separar el contenido */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    margin-bottom: 20px; /* Espaciado entre los comentarios */
}


