
@font-face {
  font-family: socake;
  src: url(Socake.ttf);
}
@font-face {
  font-family: typo;
  src: url(Typo.otf);
}

.navbar {
  position: relative;

}


nav {
  color: #ff0000;
}
h1{
  font-family: typo;
}

p {
  color: #666;
}

