/* Ajustar el tamaño de la imagen */
.card-img-top {
    width: 600px; /* ancho */
    height: 500px; /* alto */

    margin-top: 30px;
    margin-left: 30px;
    object-fit: cover;
}

/* Hacer que la imagen se ajuste correctamente */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Alinear el contenido a la derecha */
.duda-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinear el contenido al inicio de la línea (parte superior) */
}

/* Estilo para el contenedor del título y el texto */
.duda-card-content {
    flex: 1; /* Hace que el contenido tome todo el espacio disponible */
    padding: 30px; /* Espacio entre la imagen y el contenido */
}

/* Estilo para el título */
.card-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}