{% include 'header.html' %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-login.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Correo de Recuperación</h2>
    <!-- Login Form -->
    <form action="/contrasena_olvidada" method="post">
      <input type="text" id="login" class="fadeIn second" name="correo" placeholder="correo CEU">
      
      <input type="submit" class="fadeIn fourth" value="Enviar" onclick="showSpinner()">
    </form>

    {% if error %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% elif mensaje_confirmacion %}
    <p class="alert alert-success" role="alert">{{mensaje_confirmacion}}</p>
    {% endif %}


    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Volver</a>
    </div>


  </div>
</div>
<div id='loader' class="loader" style="display: none;"></div>
      <script>
        function showSpinner() {
          document.getElementById('loader').style.display = 'block';

          setTimeout(function () {
            // Oculta el spinner
            document.getElementById('loader').style.display = 'none';

            setTimeout(function () {
              window.location.href = event.target.href;
            }, 5000); // 5000 milisegundos = 5 segundos
          }, 5000);
        }
      </script>



</body>

</html>