<!DOCTYPE html>

{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-home.css') }}">
<div class="content-container">
    <div class="welcome-container animate-text" style="color: white;">
        <h1><br>Bienvenido al Foro de Estudiantes del CEU</h1>
        <p><br>Este es un espacio exclusivo para estudiantes del CEU donde puedes compartir tus conocimientos,
            resolver dudas y colaborar con tus compañeros en la comunidad académica. Aprovecha al máximo esta
            plataforma para aprender y crecer juntos.</p>
        <img class="imagen1" src="/static/ceu-logo.png" alt="ceu">
        <p>Aquí puedes encontrar respuestas a tus preguntas y ayudar a tus compañeros a tener éxito en sus estudios.
            Recuerda que este foro no está diseñado para chatear, sino para discusiones académicas constructivas.
        </p>
        <p>Te animamos a utilizar un lenguaje respetuoso y a no compartir información personal. Evita el mal uso de
            esta plataforma y respeta las normas establecidas por la comunidad.</p>
        <img class="imagen2" src="/static/estudiantes.png" alt="ceu">
        <p>La diversidad de cursos en el CEU hace que este foro sea una fuente invaluable de conocimiento. Encuentra
            contenido relevante para tus materias, comparte tus experiencias y participa en debates enriquecedores.
            Únete a la comunidad del CEU y accede al foro para compartir conocimiento y aprender juntos.</p>
        <a href="/login" class="access-button">Acceder</a>
    </div>
</div>

</body>

</html>