# Archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.pycache/

# Archivos de configuración específicos del entorno
.env

# Archivos de registro
*.log




